<% /* Hamburger icon */ %>

<svg class="icon-hamburger" viewBox="0 0 400 400" width="400" height="400" xmlns="http://www.w3.org/2000/svg">

	<!-- HAMBURGER -->

	<!-- Line 1 -->
	<defs>
		<clipPath id="icon-hamburger__mask-a">
			<rect class="icon-hamburger__mask-a__shape" x="0" y="0" width="400" height="200" />
    </clipPath>
  </defs>
  <path class="icon-hamburger__line-a" clip-path="url(#icon-hamburger__mask-a)" d="m59.000179,55.931721c-15.333313,1.954327 -25.333294,18.566181 -23.999969,31.269367c1.333336,12.703178 7.333324,37.132332 20.666637,37.132332c13.333321,0 144.666496,-9.771637 162.666466,-9.771637l17.666367,-0.488998c0.333618,0.488998 123.000076,12.214943 127.000076,5.374832c4,-6.840179 14.666656,-32.246529 10,-42.995369c-4.666656,-10.748856 -24.666656,-23.45203 -41.333282,-23.45203c-16.666656,0 -257.332977,0.977173 -272.666294,2.931503z" stroke-width="1.5" fill="#000000"/>

	<!-- Line 2 -->
	<defs>
		<clipPath id="icon-hamburger__mask-b">
			<rect class="icon-hamburger__mask-b__shape" x="0" y="0" width="400" height="400" />
    </clipPath>
  </defs>
	<path  class="icon-hamburger__line-b" clip-path="url(#icon-hamburger__mask-b)" d="m33.000271,166.598572c-15.333281,1.953995 -25.666611,13.566071 -24.333301,26.269073c1.3333,12.703003 18.33323,35.465347 31.66653,35.465347c13.333401,0 73.667187,-11.104309 91.667202,-11.104309l88.665298,0.844315c0.334,0.488998 122.999985,12.214996 126.999985,5.374008c4,-6.840012 14.667023,-32.246002 10,-42.99501c-4.665985,-10.748993 -98.665741,-15.451981 -115.332535,-15.451981c-16.667023,0 -193.999882,-0.356445 -209.333179,1.598557z" stroke-width="1.5" fill="#000000"/>

	<!-- Line 3 -->
	<defs>
		<clipPath id="icon-hamburger__mask-c">
			<rect class="icon-hamburger__mask-c__shape" x="0" y="0" width="400" height="400" />
    </clipPath>
  </defs>
	<path  class="icon-hamburger__line-c" clip-path="url(#icon-hamburger__mask-c)" d="m91.99984,286.265045c-15.333229,1.954315 -60.99962,10.899292 -59.66629,23.602509c1.33334,12.703156 7.666649,25.13208 20.999962,25.13208c13.333321,0 117.666779,14.228607 135.666748,14.228607l32.999557,-1.489105c29.667007,-0.844482 98.999481,-12.451782 112.666199,-17.625275c13.666718,-5.173492 40.33374,-20.246307 35.667084,-30.995178c-4.666656,-10.74884 -24.666656,-23.452026 -41.333282,-23.452026c-16.666656,0 -221.666656,8.644043 -236.999977,10.598389z" stroke-width="1.5" fill="#000000"/>


	<!-- CROSS -->

	<!-- Line 1 -->
	<defs>
		<clipPath id="icon-hamburger__mask-d">
			<rect class="icon-hamburger__mask-d__shape" x="0" y="0" width="0" height="200" />
    </clipPath>
  </defs>
  <path class="icon-hamburger__line-d" clip-path="url(#icon-hamburger__mask-d)" d="m59.000179,55.931721c-15.333313,1.954327 -25.333294,18.566181 -23.999969,31.269367c1.333336,12.703178 7.333324,37.132332 20.666637,37.132332c13.333321,0 144.666496,-9.771637 162.666466,-9.771637l17.666367,-0.488998c0.333618,0.488998 123.000076,12.214943 127.000076,5.374832c4,-6.840179 14.666656,-32.246529 10,-42.995369c-4.666656,-10.748856 -24.666656,-23.45203 -41.333282,-23.45203c-16.666656,0 -257.332977,0.977173 -272.666294,2.931503z" stroke-width="1.5" fill="#ffffff"  transform="translate(120) rotate(45)"/>

	<!-- Line 2 -->
	<defs>
		<clipPath id="icon-hamburger__mask-e">
			<rect class="icon-hamburger__mask-e__shape" x="0" y="0" width="0" height="400" />
    </clipPath>
  </defs>
	<path  class="icon-hamburger__line-e" clip-path="url(#icon-hamburger__mask-e)" d="m91.99984,286.265045c-15.333229,1.954315 -60.99962,10.899292 -59.66629,23.602509c1.33334,12.703156 7.666649,25.13208 20.999962,25.13208c13.333321,0 117.666779,14.228607 135.666748,14.228607l32.999557,-1.489105c29.667007,-0.844482 98.999481,-12.451782 112.666199,-17.625275c13.666718,-5.173492 40.33374,-20.246307 35.667084,-30.995178c-4.666656,-10.74884 -24.666656,-23.452026 -41.333282,-23.452026c-16.666656,0 -221.666656,8.644043 -236.999977,10.598389z" stroke-width="1.5" fill="#ffffff" transform="rotate(-45) translate(-200)"/>


</svg>

<% /* Menu overlay background */ %>
<div class="stripe-bg">
	<div class="stripe-bg__stripe-0"></div>
	<div class="stripe-bg__stripe-1"></div>
	<div class="stripe-bg__stripe-2"></div>
	<div class="stripe-bg__stripe-3"></div>
</div>

<% /* Menu  */ %>

<nav class="mainmenu">
    <ul>
        <li><a href="">Esipuhe</a></li>
		<li><a href="">Kappale 1: Oivallus</a></li>
		<li><a href="">Kappale 2: Epätoivo</a></li>
		<li><a href="">Kappale 3: Tuska</a></li>
		<li><a href="">Kappale 4: Välinpitämättömyys</a></li>
		<li><a href="">Kappale 3: Järjettömyys</a></li>
    </ul>
</nav>
