title: chapter001
date: 2016-09-18 05:44:09
tags:
---
<div id="fullpage">
	<div class="section section--center">
		<img class="section__logo" src="{% asset_path logo3_final-trimmed.svg %}" />
		<div class="section__paragraph">
			Elämä startup-yrityksessä on yhtä juhlaa, erikoiskahvin litkimistä ja pöytälätkän pelaamista.
			Tämä luku kerrallaan ilmestyvä sarjakuva kertoo kahden kaveruksen matkasta ideasta exittiin.
		</div>
		<div class="section__paragraph">
			Jos haluat tiedon uusista luvuista ensimmäisten joukossa, niin alahan seurata Facebookissa ja Twitterissä.
			Albumin syntytaustaa on valotettu esipuheessa.
		</div>
	</div>
	<div class="section section__comic">{% asset_img chapter001page001.svg %}</div>
	<div class="section section__comic">{% asset_img chapter001page002.svg %}</div>
</div>
