<p>
	Office Animals on nörteistä eläimistä kertova strippisarjakuva, jonka historia juontaa vuoteen 2009. Silloin julkaistiin ensimmäinen strippi ja siitä eteenpäin uusi sarjakuva pullahti eetteriin aina perjantaisin. Sarjakuvan julkaisu jäi  tauolle kesällä 2016 tyttäreni vakavan sairastumisen vuoksi. Olin jo pitkään miettinyt, että sarjakuvan konsepti kaipaisi ehkä pientä uudistamista ja olin myös haaveillut albumin piirtämisestä. Olen aloittanut albumin tekemisen jo useaan otteeseen - viimeksi talvella 2015. Nyt julkaisutauon aikana ajatus albumista on taas kypsynyt ja päätin tarttua tuumasta toimeen!
</p>

<p>
	Aion julkaista albumia luku kerrallaan sitä mukaa kun jaksan sitä piirtää. Harrasteprojekteissa on tärkeää osata olla ottamatta liikaa paineita, joten en aio sitoutua mihinkään julkaisuaikatauluihin. Uusi luku julkaistaan sitten kun se on valmis.
</p>

<p>
	Sarjakuvan aihe laajenee hieman alkuperäisestä nörttielämästä. Nyt elukat perustavat startup-yrityksen. Itse olen ollut vähintään sivutoimisesti yrittäjänä koko työurani ajan. Alla on lyhyt tiivistelmä
</p>

<ul>
	<li>
		Teininä tein lehtitaittoa, pieniä nettisivuprojekteja ja videohommia vanhempieni pöytälaatikkofirman kautta.
	</li>
	<li>
		2008 Olin mukana hankkeessa, jossa oltiin luomassa Suomen suurinta rekryportaalia. Hanke kariutui suuren yhteistyökumppanin vetäytymiseen. Sen jälkeen projekti pivotoi levottomasti ja lopulta hyytyi omaan hassutteluunsa.
	</li>
	<li>
		2008 Perustimme parin kaverin kanssa web-tuotantotoimiston. Bisnes rullasi ihan kivasti, mutta:
	</li>
	<li>
		2009 Lähdimme osin samalla porukalla tekemään selainpohjaista kuvankäsittelytyökalua. Ajatuksemme oli tarjota työkalua eri web-palveluiden käyttöön. Kahden vuoden jälkeen löimme hanskat tiskiin. Teknisesti hieno tuote toi asiakkaan palveluun kivan ominaisuuden, mutta ei bisneshyötyä.
	</li>
	<li>
		2010 olin mukana startupissa, jolla kehitettiin videoalustaa blogaajille. Ajatus oli näyttää mainoksia videoiden yhteydessä ja jalkauttaa tuloja blogaajille. Projekti pivotoi ensin geneerisemmäksi mainosalustaksi ja lopulta ihan uudentyyppiseksi digitaalisen lehtien kuratointi- ja julkaisutyökaluksi. Omalta osaltani homma jäi ajanpuutteen takia sivuosaan ja koko projekti on nyttemmin kuopattu.
	</li>
	<li>
		2011 Perustimme nykyisen työpaikkani webbitoimisto Evermaden.
	</li>
	<li>
		2012 Aloitimme sivuprojektina paikkatietoa hyödyntävän mobiilipeliprojektin, joka kannusti ihmisiä pyöräilemään. Pääsimme mukaan yrityskiihdyttämöön, jonka avulla hioimme konseptia. Lopulta emme saaneet konseptia kirkastettua riittävästi, protoa valmiiksi ja jatkuva ajanpuutekin näivetti projektia.
	</li>
</ul>
